*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
html,body{
    width: 100%;
    height: 100%;
}
#content1{
    width: 100%;
    height: 100%;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.artsy.net%2Farticle%2Fartsy-editorial-story-worlds-famous-desktop-background&psig=AOvVaw07vGBOMmlQsIR-7l_yuyce&ust=1743557108629000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIDTo8LWtYwDFQAAAAAdAAAAABAE");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-attachment: fixed;
    border: 5px solid black;
}
.head{
    background-color: rgb(187, 187, 187);
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}
.head:hover{
    transform: scale(1.2);
    transition: 0.7s;
}
#content2{
    position: relative;
    background-color: white;
    padding: 70px 100px;
    text-align: center;
    border: 5px solid black;
}
#head2{
    color: #777;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#para1{
    font-size: 18px;
}
#content3{
    width: 100%;
    height: 50%;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fwebsite%2520backgrounds%2F&psig=AOvVaw1WB1sOSbAAKdpkwBDAJhwZ&ust=1743557228589000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJjO2YPXtYwDFQAAAAAdAAAAABAE");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    /* position: absolute; */
    background-attachment: fixed;
    border: 5px solid white;
}
#content4{
    height: 40%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 5px solid black;
}
#content5{
    background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    width: 100%;
    height: 70%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    border: 5px solid white;
}
#parallaxh{
    background-color: rgb(187, 187, 187);
    padding: 15px 10px 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    content: none;
    transition: 0.5s;
}
#parallaxh:hover{
    transition: 0.5s;
    background-color: rgb(88, 88, 88);
    color: rgb(187, 187, 187);
    padding: 15px 30px 15px 25px;
}
#parallaxh::after{
    content: "\00BB";
    margin-left: 12px;
    color: rgb(187, 187, 187);
}
#content6{
    background-image: url("https://images.pexels.com/photos/1435752/pexels-photo-1435752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-attachment: fixed;
    border: 5px solid black;
}
a{
    text-decoration: none;
    color: black;
}
